{% if resourses %}
	{% for resourse in resourses %}
		<p>
			<ul>
				<li>
					<b>Title:</b>
					{{ resourse.title }}</li>
				<li>
					<b>Description:</b>
					{{ resourse.description }}</li>
				<li>
					<b>File:</b>
					<a href={{ resourse.file.url }}>{{resourse.file.name}}</a>
				</li>
			</ul>
		</p>
	{% endfor %}
{% else %}
	<p>No resourses yet.</p>
{% endif %}
